
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
:root{
  --primary-color:rgb(26, 25, 25);
  --secondry-color:rgb(217, 244, 242);
  --tertiary-color:rgb(79, 189, 189);
}

/* article */
.each-film {
  background-color: var(--secondry-color);
  padding: 1em;
  margin-left: 2.5em;
  box-shadow: 12px 12px 2px 1px rgba(195, 216, 206, 0.2);
  border-radius: 10px,;
}
/* h3 */
h3{
  border: 2px solid  rgb(42, 38, 38);
  border-radius: 20px;
  background-color: rgb(114, 179, 158);
  font-family:Arial, Helvetica, sans-serif;
  padding: 20px;
  margin: 10px;
  text-align: center;
  font-size: larger;
 
}
#count-epispde,label{
  color: rgb(231, 243, 242);
  font-size: large;
}
img{
  justify-self: center;
  height: 200px;
}
p{
  font-size: large;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.main {
  display: grid;
  grid-template-columns: 450px 450px 450px;
  grid-template-rows: auto;
  gap: 2rem;
  background-color: var(--primary-color);
  justify-content: center;
}

#secletedepisodes{
  padding:10px;
  border-radius: 5px;
  margin: 1em;
  background-color: var(--secondry-color);
  color:(var(--primary-color))
}
#searchinput{
  padding:10px;
  border-radius: 5px;
  margin-left: 2rem;
  background-color: var(--secondry-color);
  color:(var(--primary-color))
}
#key{
background-color: var(--primary-color);
}
#make-allepisode{
  margin: 2em;
  padding: 1em;
  background-color:var(--tertiary-color);
  font-size: 1rem;

}


